#graphsnp-container {
  background-color: rgb(243, 243, 243);
  padding: 0px;
  height: calc(100vh - 80px);
  width: 100%;
}

#graphsnp-sider {
  background-color: rgb(255, 255, 255);
  padding: 0px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 80px);
}

#graphsnp-sider h5 {
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#graphsnp-sider h6 {
  font-size: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#graphsnp-sider p {
  font-size: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#graph-cont-cytoscape-canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#graph-cont-is-empty {
  position: absolute;
  margin-top: 20px;
  z-index: 10;
  width: 100%;
  height: 200px;
}

#graph-cont-is-processing {
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#modal-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 0;
}

#metadata-box {
  position: absolute;
  z-index: 10;
  top: inherit;
  width: calc(100vw - 210px);
  max-height: 25vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

#result-notification-container{
  font-size: 14px;
}

.graphOutNotification {
width: calc(100vw - 20px) !important;
font-size: 11px;
text-align: left;
border: 2px solid rgb(0, 113, 219) !important;
box-shadow: none !important;
border-radius: 5px !important;

}

