#graphsnp-container {
  background-color: rgb(243, 243, 243);
  padding: 0px 15px;
  height: calc(100vh - 130px);
  width: 100%;
}

#graphsnp-sider {
  background-color: white;
  padding: 0px 15px;
  overflow-y: auto;
}

#graphsnp-sider h5 {
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#graphsnp-sider h6 {
  font-size: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#graphsnp-sider p {
  font-size: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#graph-cont-cytoscape-canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#graph-cont-is-empty {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 200px;
}

#graph-cont-is-processing {
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
