#home-loading-info {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  text-align: center;
  background-color: white;
}

#home-input-placeholder {
  background: linear-gradient(
    90deg,
    rgb(238, 173, 76) 10%,
    rgb(226, 88, 69) 100%
  );
  min-height: calc(100vh - 350px);
  /*url("../img/bg_content_header.png") no-repeat fixed center,*/
}

#home-input-area {
  margin: auto;
}

#home-input-dragger {
  margin: auto;
  background-color: rgb(255, 255, 255, 0);
  height: calc(100vh - 450px);
  width: calc(100vw - 50px);
}

#home-input-dragger-text-title {
  font-family: "Nunito", sans-serif;
  max-width: 300px;
  text-align: center;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 30pt;
  color: rgb(255, 255, 255);
  border: 2px rgb(255, 183, 1);
}

#home-input-dragger-text-subtitle {
  font-family: "Nunito", sans-serif;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 2px rgb(255, 183, 1);
}

#home-input-dragger-text {
  max-width: 300px;
  text-align: center;
  margin: auto;
  font-weight: 900;
  color: rgb(255, 205, 169);
  margin-bottom: 10px;
}

#home-input-button-snps {
  color: white;
  background-color: rgb(255, 94, 88);
  border: 1px solid rgb(255, 105, 50);
  margin: 3px auto;
  text-align: center;
  padding: 0 15px;
}

#home-input-button-metadata {
  color: white;
  background-color: rgb(255, 160, 16);
  border: 1px solid rgb(255, 203, 73, 0);
  margin: 3px auto;
  text-align: center;
  padding: 0 15px;
}

#home-input-status {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: light;
  font-size: 12px;
  padding-top: 10px;
  height: 40px;
  margin: auto;
  text-align: center;
}

.home-input-remove-button {
  color: white;
  border: 0px solid white;
  border-color: none;
  background-color: rgb(25, 180, 89);
  margin: 5px auto;
  text-align: center;
}

#home-preloaded-data {
  max-width: 350px;
  left: 0;
  height: auto;
  text-align: left;
  padding-left: 40px;
  padding-top: 15px;
  background-color: rgb(255, 255, 255);
}

#home-footer {
  max-width: 400px;
  height: auto;
  text-align: left;
  margin: auto;
  padding: 15px 5px 5px 40px;
  background-color: rgb(255, 255, 255);
}

/*
  background-image: linear-gradient(90deg, #ffb790, #ffef91, #ffb03a);
  background-clip: text;
  color: transparent;
*/
