#header-content {
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  text-align: center;
  background-color: white;
}

#input-loader-snps {
  height: calc(100vh - 380px);
}
/*
background-color: rgba(255, 164, 164, 0.3);
*/

#input-loader-metadata {
  height: calc(100vh - 380px);
}
/*
background-color: rgba(255, 194, 115, 0.3);
*/

#input-loader-patientMovement {
  height: calc(100vh - 380px);
}
/*
background-color: rgba(104, 220, 255, 0.3);
*/

/*
  background: url("../img/bg_content_header.png") no-repeat fixed center,
    rgb(240, 71, 66) 5%;
background: url("../img/bg_content_header.png") no-repeat fixed center,
    linear-gradient(90deg, rgb(238, 173, 76) 100%, rgb(238, 173, 76) 100%);
    background: url("../img/bg_content_header.png") no-repeat fixed center,
    rgb(60, 207, 226) 10%;

  background: url("../img/bg_content_header.png") no-repeat fixed center,
    linear-gradient(90deg, rgb(238, 173, 76) 10%, rgb(226, 88, 69) 100%);
*/

#input-loader-button-snps {
  color: white;
  background-color: rgb(255, 94, 88);
  border: 1px solid white;
  margin-top: calc((100vh - 380px) / 2);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 2em;
}

#input-loader-button-metadata {
  color: white;
  background-color: rgb(255, 160, 16);
  border: 1px solid white;
  margin-top: calc((100vh - 380px) / 2);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 2em;
}

#input-loader-button-patientMovement {
  color: white;
  background-color: rgb(4, 205, 219);
  border: 1px solid white;
  margin-top: calc((100vh - 380px) / 2);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 2em;
}

#input-status {
  width: 100%;
  background-color: white;
  padding-top: 5px;
  margin: 0px;
}

#footer-component {
  width: 100vw;
  height: auto;
  text-align: left;
  padding-left: 50px;
  margin: auto;
  padding-top: 34px;
  background-color: rgb(255, 255, 255);
}

#title-header-component {
  color: white;
  font-size: 24px;
  margin: auto;

  width: 100%;
  font-family: "Nunito", sans-serif;
  padding: 20px 20px 0px 20px;
  text-align: center;
  height: auto;
}

#input-wrapper {
  background: linear-gradient(
    90deg,
    rgb(238, 173, 76) 10%,
    rgb(226, 88, 69) 100%
  );
}

/*
background: url("../img/bg_content_header.png") no-repeat fixed center,
*/

.particles-bg {
  height: calc(100vh - 380px);
}
