#main-header {
  background-color: white;
  height: auto;
}

#header-logo {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 0px 0px;
  float: right;
  width: auto;
}

#header-navigation {
  background-color: rgb(255, 255, 255);
  height: 75px;
}

#header-menu {
  background-color: white;
  float: left;
  width: auto;
  margin-top: 10px;
  margin-left: 50px;
  padding: 0;
}
