.main-header {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: auto;
  border-bottom: 1px solid rgb(205, 205, 205, 0);
}

#header-logo {
  background-color: transparent;
  padding: 10px 10px 0px 0px;
  float: right;
  width: auto;
}

#header-navigation {
  background-color: transparent;
  height: 75px;
}

#header-menu {
  background-color: transparent;
  float: left;
  width: auto;
  margin-top: 10px;
  margin-left: 50px;
  padding: 0;
}

@media (max-width : 500px) {

  #header-menu {
    width: 300px;
    margin-left: 10px;
  }
  
}
