@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gp-collapsible-container {
  position:absolute;
  z-index: 10;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  max-height: 50px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#gp-settings-box-container {
  background-color: transparent;
}


.gp-settings-box {
  background-color: rgb(255, 194, 95);
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209, 0.5);
}

.gp-select{
  max-width: 170px;
  min-width: 100px;
  margin-bottom: 10px;
  margin-left: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

